<!DOCTYPE html>
<html ng-app="ECEPulse2016">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>
        ECE Pulse 2016
    </title>    
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/splash.css" />
    <link rel="stylesheet" href="styles/pulse.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="scripts/lib/jquery-ui.min.js"></script>
    <script src="scripts/lib/jquery-scrollto.js"></script>
    <script src="scripts/controllers.js"></script>

</head>

    
<body ng-controller="splashPage">

    <div class="col-md-12 col-lg-12 col-sm-12 landing">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 label orange vishalign" data-verticalPercentage="{{header.verticalPercentage}}">{{header.header}}</div>
<!--
        <svg class="polyline valign">
          <polyline class="pulse" points="" style="stroke-width: 2; stroke:#ff6a41" fill="rgba(255, 255, 255, 0)"/>
        </svg>
-->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 caption white vishalign">{{header.caption}}</div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 white vishalign automateYour_">Automate your <span class="hackertyper orange">world</span></div>
        <div class="tempt" ng-click="scrollTo('about')"></div>
    </div>
    <navbar active="navbarActive"></navbar>
    <div id="about" class="about col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="mainAbout col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>ECE Pulse is an annual student-run conference held at Illinois that showcases innovation in electrical and computer engineering technologies. The conference is comprised of design competitions, hands-on workshops, tech talks, and networking sessions for students, alumni, faculty, and corporate representatives. Our aim is to inspire students by connecting them with cutting-edge technologies and innovative projects in the corporate world. This year's theme &mdash; Automate your World &mdash; will focus on showing attendees how our world is evolving to become more connected and collaborative everyday.</p>
        </div>
        <div ng-repeat="bundle in infoCards" class="aboutCard">
            <div ng-repeat="card in bundle" class="aboutCard col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="header orange">{{card.title}}</div>
                <div class="content">{{card.info}}</div>
            </div>
        </div>
    </div>
    <div class="sponsors col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="header col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="fancyHeader">Our sponsors</p>
        </div>
        <div ng-repeat="row in sponsors" class="sponsorRow row">
            <div ng-repeat="sponsor in row" class="sponsorCard">
                <div data-title="{{sponsor.title}}" class="sponsorStuff {{sponsor.layout}}">
                    <img class="sponsorImg" src="{{sponsor.imgLink}}">
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="sponsorLink">
                <div class="orange link sponsorLink" href="http://pulse.ece.illinois.edu/sponsor.pdf">Interested in sponsoring?</div>
            </p>
        </div>
        
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2 col-xs-offset-2 preRegister">
            <button type="button" target="_blank" class="typeform-share registerBtn btn-lg btn-danger btn-block">Register</button>
        </div>
    </div>

    
    <footer></footer>
    

    <script src="scripts/landing.js"></script>
    <script src="scripts/polyline.js"></script>
    <script src="scripts/sponsor.js"></script>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,    =d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q= .call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=    .call(d,'head')[0];s.appendChild(qs,s)}})()</script>
    <script>
        $(".registerBtn").on('click', function() {
            console.log("HEre");
            window.location = 'http://bit.ly/1Skugzu';
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</body>
    
</html>

