<!DOCTYPE html>
<html ng-app="ECEPulse2016">
<head>
    <title>
        ECE Pulse 2016
    </title>    
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/splash.css" />
    <link rel="stylesheet" href="styles/pulse.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
</head>
    
<body ng-controller="splashPage">

    <div class="col-md-12 col-lg-12 col-sm-12 landing">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 label orange vishalign" data-verticalPercentage="{{header.verticalPercentage}}">{{header.header}}</div>
<!--
        <svg class="polyline valign">
          <polyline class="pulse" points="" style="stroke-width: 2; stroke:#ff6a41" fill="rgba(255, 255, 255, 0)"/>
        </svg>
-->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 caption white vishalign">{{header.caption}}</div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 white vishalign automateYour_">Automate your <span class="hackertyper orange">world</span></div>
        <div class="tempt" ng-click="scrollTo('about')"></div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="navbar row">
            <div class="navbar_wrapper row">
                <li class="svalign navbar_item current"><a href="index.html">About</a></li>
                <li class="svalign navbar_item">Competitions</li>
                <li class="svalign navbar_item"><a href="schedule.html">Schedule</a></li>
                <li class="svalign navbar_item">Contact</li>
            </div>
        </ul>
    </div>
    <div id="about" class="about col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="mainAbout col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>ECE Pulse is an annual student-run conference held at Illinois that showcases innovation in electrical and computer engineering technologies. The conference is comprised of design competitions, hands-on workshops, tech talks, and networking sessions for students, alumni, faculty, and corporate representatives. Our aim is to inspire students by connecting them with cutting-edge technologies and innovative projects in the corporate world. This year's theme &mdash; Automate your World &mdash; will focus on showing attendees how our world is evolving to become more connected and collaborative everyday.</p>
        </div>
        <div ng-repeat="card in infoCards" class="aboutCard col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="header orange">{{card.title}}</div>
            <div class="content">{{card.info}}</div>
        </div>
    </div>
    <div class="sponsors col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="header col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="fancyHeader">Our sponsors</p>
        </div>
        <div ng-repeat="row in sponsors" class="sponsorRow row">
            <div ng-repeat="sponsor in row" class="sponsorCard">
                <div data-title="{{sponsor.title}}" class="{{sponsor.layout}}">
                    <img class="sponsorImg" src="{{sponsor.imgLink}}">
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="sponsorLink">
                <a class="orange link sponsorLink" href="http://pulse.ece.illinois.edu/sponsor.pdf">Interested in sponsoring?</a>
            </p>
        </div>
    </div>
    <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="valign">Made with &hearts; in Urbana Champaign</p>
    </div>
    
    <script src="scripts/lib/angular.min.js"></script>
    <script src="scripts/lib/jquery-1.11.3.min.js"></script>
    <script src="scripts/lib/jquery-ui.min.js"></script>
    <script src="scripts/lib/jquery-scrollto.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/landing.js"></script>
    <script src="scripts/polyline.js"></script>
    <script src="scripts/sponsor.js"></script>
</body>
    
</html>

