.contactBlurb {
    margin-bottom: 20px;
}

.contactName {
    text-align: center;
    font-size: 2em;
}

.contactPicture {
    border-radius: 50%;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contactCard {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactLink {
    font-size: 1.1em;
    text-align: center;
}

.contactPosition {
    font-size: 1.6em;
    text-align: center;
}