body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.blue {
    background: rgba(1,53,103,0.95);
    color: rgba(1,53,103,0.95)
}

.orange {
    color: #DE592B;
}

.white {
    color: white; !important
}

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vishalign {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.svalign {
  position: relative;
  transform: translateY(50%);
}

.float_left {
    float: left;
}

.fancyHeader {
    font-weight: bold;
    color: #DE592B;
    font-size: 1.5em;
    text-decoration: underline;
    border-width: 0px 0px 1px 0px;
    border-color: #DE592B;
    border-style: solid;
    vertical-align: text-bottom;
    border-spacing: 0;
    line-height: 1.0;
}

.link:hover,
.link:visited,
.link:active {
    color: inherit;
}

.navbar {
    list-style-type: none;
    z-index: 9999;
    background: white;
    width: 100%;
}

.navbar_wrapper {
    left: 0;
}

.navbar > li,
.navbar_wrapper > li{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    height: 150%;
    float: left;
    width: auto;
    font-size: 1.2em;
}

.navbar_wrapper > .current {
    color: #013567;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
}

.navbar_item:hover {
    color: #DE592B;
    text-decoration: underline;
}

a:link,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.current:hover { 
    cursor: default !important;
    color: #013567 !important;
    text-decoration: none !important;
}

.current > a:link,
.current > a:hover,
.current > a:visited,
.current > a:active {   
    cursor: default;
}