body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.blue {
    background: rgba(1,53,103,0.95);
    color: rgba(1,53,103,0.95)
}

.orange {
    color: #DE592B;
}

.white {
    color: white; !important
}

.valign {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.float_left {
    float: left;
}

.fancyHeader {
    font-weight: bold;
    color: #DE592B;
    font-size: 1.5em;
    text-decoration: underline;
    border-width: 0px 0px 1px 0px;
    border-color: #DE592B;
    border-style: solid;
    vertical-align: text-bottom;
}

.link:hover,
.link:visited,
.link:active {
    color: inherit;
}
