.landing {
    width: 100%;
    height: 100%;
    background: rgba(1,53,103,0.95);
}

.landing > .label,
.landing > .caption,
.landing > .automateYour_ {
    width: 100%;
    position: relative;
    text-align: center;
}

.landing > .label {
    font-size: 5vmax;
}

.landing > .caption { 
    font-size: 3vmax;
}

.landing > .automateYour_ {
    font-size: 2vmax;
}

.aboutCard > .header {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
/*
    border-width: 0px 0px 1px 0px;
    border-color: #DE592B;
    border-style: solid;
*/
    vertical-align: text-bottom;
}

.aboutCard > .content {
    font-size: 1.2em;
}

.about {
    margin-top: 30px;
}

.mainAbout {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.4em;
}

.aboutCard {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tempt {
    width: 90px;
    height: 90px;
    margin: auto;
    z-index: 9999;
    background-size: 100%;
    position: relative;
    bottom: -85%;
    cursor: pointer;
    background-image: url('../assets/down.png');
}

.sponsors {
    margin-top: 50px;
}

.sponsors > .header {
    margin-bottom:50px;
}

.sponsorImg {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
    height: 100%;
}

.sponsorImg:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.sponsorLink {
    margin: auto;
}