<div class="col-xs-12">
    <ul class="navbar row">
        <div class="navbar_wrapper row">
            <li class="svalign navbar_item">
                <a href="index.html">Home</a>
            </li>
            <li class="svalign navbar_item">
                <a href="competitions.html">Competitions</a>
            </li>
            <li class="svalign navbar_item">
                <a href="schedule.html">Schedule</a>
            </li>
            <li class="svalign navbar_item">
                <a href="contact.html">Contact</a>
            </li>
            <li class="svalign navbar_item">
                <a href="sponsor.pdf">Sponsor</a>
            </li>
        </div>
    </ul>
</div>
