<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-init="navbar_items=[{'name': 'Home', 'link': 'index.html'}, {'name': 'Competitions', 'link': 'competitions.html'}, {'name': 'Schedule', 'link': 'schedule.html'}, {'name': 'Contact', 'link': 'contact.html'}, {'name': 'Sponsor', 'link': 'http://pulse.ece.illinois.edu/2016/sponsor.pdf'}]">
    <ul class="navbar row">
        <div class="navbar_wrapper row">
            <li class="svalign navbar_item" ng-repeat="item in navbar_items">
                <a href="{{item.link}}">{{item.name}}</a>
            </li>
        </div>
    </ul>
</div>
