/* Global */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.orange {
    color: #DE592B;
}

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vishalign {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fancyHeader {
    font-weight: bold;
    color: #DE592B;
    font-size: 1.5em;
    text-decoration: underline;
    border-width: 0px 0px 1px 0px;
    border-color: #DE592B;
    border-style: solid;
    vertical-align: text-bottom;
    border-spacing: 0;
    line-height: 1.0;
}

.navbar {
    /*color: white;*/
    /*background-color: rgba(255,255,255,0.75);*/
}

.footer {
    height: 50px;
    background-color: rgba(1,53,103,0.95);
    margin-top: 20px;
    color: white;
    text-align: center;
}

.splash {
    width: 100%;
    height: 100%;
    background: rgba(33,56,123,1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
}

.splashSchedule, .splashCompetitions, .splashContact, .splashWorkshops {
    height: 65%;
    background-position: 50% 20%;
}

.splashSchedule::before, .splashCompetitions::before, .splashContact::before, .splashWorkshops::before {
    content: "";

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;

    /* Blue filter over image */
    background-color: rgba(33,56,123,0.5)
}

/* Splash */

.splash > .label,
.splash > .automateYour_ {
    width: 100%;
    position: relative;
    text-align: center;
}

.splash > .automateYour_ {
    top: 3em;
    color: white;
}

.splash > .label {
    font-size: 5vw;
    line-height: 0.8;
}

.splash > .automateYour_ {
    font-size: 2vw;
}

/* Home Page */

.splashFront {
    background-image: url('../assets/img/splash/front.jpg');
}

.registerButton {
    text-align: center;
    margin-bottom:40px;
}

.aboutCard > .header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    vertical-align: text-bottom;
}

.aboutCard > .content {
    font-size: 1.2em;
}

.about {
    margin-top: 30px;
}

.mainAbout {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.4em;
}

.aboutCard {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sponsor {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sponsorImg {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
    height: 100%;
}

.sponsorImg:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/* Contact Page */

.splashContact {
    background-image: url('../assets/img/splash/contact.jpg');
}

.contactName {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.contactPicture {
    border-radius: 50%;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.contactCard {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactLink {
    font-size: 1.1em;
    text-align: center;
}

.contactPosition {
    font-size: 1.6em;
    text-align: center;
}

.contactLink:hover {
    text-decoration: underline !important;
}

.contactLink:link { 
    color: #DE592B;
}

/* Competitions */

.splashCompetitions {
    background-image: url('../assets/img/splash/competitions.jpg');
}

.ccDescription {
    padding: 5px;
    padding-top:15px;
    padding-bottom: 15px;
}

.ccDate {
    text-align: center;
    font-size: 2em;
}

.ccCard {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 2px grey;
    padding-bottom: 10px;
}

.ccName {
    padding-left: 5px;
    font-size: 2em;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
}

.ccName::before {
    content: "";

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    /* Blue filter over image */
    /*background-color: rgba(1, 53, 123, 0.5);*/
}

.viewCompetition {
    margin: auto;
}

/* Workshops */

.splashWorkshops {
    background-image: url('../assets/img/splash/workshops.jpg');
}

/* Schedule Page */

.splashSchedule {
    background-image: url('../assets/img/splash/schedule.jpg');
}

.scheduleRow {
    height: 50px;
    font-size: 17px;
}

.scheduleRow:focus,
.scheduleRow:hover {
    background-color: rgba(222,89,43, 0.2);
}

/* Mobile only */

@media (max-width: 768px) {
    .splashFront {
        background-color: #0b1644;
        background-image: url('../assets/img/splash/front-mobile.jpg');
    }

    .automateYour_ {
        display: none;
    }
}