.ccName {
	padding-left: 5px;
	font-size: 2em;
	background: rgb(1,53,103);
	color: white;
}

.ccDescription {
	padding: 5px;
}

.ccDate {
    text-align: center;
    font-size: 2em;
}

.ccCard {
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 2px grey;
}
