.ccName {
	padding-left: 5px;
	font-size: 2em;
	color: white;
    background-color: rgba(33,56,123,0.5)
}

.ccDescription {
	padding: 5px;
    padding-top:15px;
    padding-bottom: 15px;
}

.ccDate {
    text-align: center;
    font-size: 2em;
}

.ccCard {
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 2px grey;
    padding-bottom: 10px;
}

.viewCompetition {
    margin: auto;
}
