.scheduleRow {
    height: 50px;
    font-size: 17px;
}

.scheduleRow:hover {
    background-color: rgba(222,89,43, 0.2);
}

.schedule > .header {
    margin-top: 30px;
}

.lightOrange {
    background-color: rgba(222,89,43, 0.2);
}
