.landing {
    width: 100%;
    height: 100%;
    background: rgba(1,53,103,0.95);
}

.landingFront {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../assets/front-splash.jpg');
}

@media (max-width: 768px) {
    .landingFront {
        background-size: contain;
        background-color: rgb(34,58,122);
    }
}

.landing > .label,
.landing > .caption,
.landing > .automateYour_ {
    width: 100%;
    position: relative;
    text-align: center;
    top: 3em;
}

.landing > .label {
    font-size: 5vmax;
    line-height: 0.8;
}

.landing > .caption { 
    font-size: 3vmax;
    margin-top: -10px;
}

.landing > .automateYour_ {
    font-size: 2vmax;
}

.landing > .dates {
    position: relative;
    top: 60%;
}

.dates > .bracket {
    width: auto;
}

.aboutCard > .header {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
/*
    border-width: 0px 0px 1px 0px;
    border-color: #DE592B;
    border-style: solid;
*/
    vertical-align: text-bottom;
}

.aboutCard > .content {
    font-size: 1.2em;
}

.about {
    margin-top: 30px;
}

.mainAbout {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.4em;
}

.aboutCard {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tempt {
    width: 90px;
    height: 90px;
    margin: auto;
    z-index: 9999;
    background-size: 100%;
    position: relative;
    bottom: -90%;
    cursor: pointer;
    background-image: url('../assets/down.png');
}

.sponsors {
    margin-top: 50px;
}

.sponsors > .header {
    margin-bottom:50px;
}

.sponsorImg {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
    height: 100%;
}

.sponsorImg:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.sponsorLink {
    margin: auto;
    text-align: center;
    font-size: 1.1em;
}

.footer {
    height: 50px;
    background-color: rgba(1,53,103,0.95);
    margin-top: 20px;
    color: white;
    text-align: center;
}

.preregister {
    margin-top: 50px;
}
